{{#Capital (L2)}}
  <div class="type">Capital</div>
  <div class="value">{{type:Capital}}</div>

  <hr>

  <div class="type">Capital (L2)</div>
  <div class="value">{{Capital (L2)}}</div>
{{/Capital (L2)}}

--

<div class="type">Capital</div>
<div class="value" type="answer">{{type:Capital}}</div>
{{#Capital hint}}<div class="info">Hint: {{Capital hint}}</div>{{/Capital hint}}
{{#Capital info}}<div class="info">{{Capital info}}</div>{{/Capital info}}

<hr>

<div class="type">Capital (L2)</div>
<div class="value">{{Capital (L2)}}</div>
