{{#Capital}}
  <div class="type">Country</div>
  <div class="value">{{Country}}</div>
  {{#Country info}}<div class="info">{{Country info}}</div>{{/Country info}}

  <hr>

  <div class="type">Capital</div>
  <div class="value">{{type:Capital}}</div>
{{/Capital}}

--

<div class="type">Country</div>
<div class="value">{{Country}}</div>
{{#Country info}}<div class="info">{{Country info}}</div>{{/Country info}}

<hr>

<div class="type">Capital</div>
<div class="value" id="answer">{{type:Capital}}</div>
{{#Capital info}}<div class="info">{{Capital info}}</div>{{/Capital info}}
