{{#Country (L2)}}
  <div class="type">Country</div>
  <div class="value">{{Country}}</div>
  {{#Country info}}<div class="info">{{Country info}}</div>{{/Country info}}

  <hr>

  <div class="type">Country (L2)</div>
  <div class="value">{{type:Country (L2)}}</div>
{{/Country (L2)}}

--

<div class="type">Country</div>
<div class="value">{{Country}}</div>
{{#Country info}}<div class="info">{{Country info}}</div>{{/Country info}}

<hr>

<div class="type">Country (L2)</div>
<div class="value" id="answer">{{type:Country (L2)}}</div>
